ol{
    list-style: none;
    counter-reset: contador; /*Agregar contador */
}
ol li{
    counter-increment: contador;
}
ol li::before{
    content:  'Curso 'counter(contador)'- '; /* agregar  un texto en donde estaban los puntos */
    color: rgb(255, 136, 0);
}
ol li:after{
    content: '.';
}