html{
    height: 100%;
}
body{
    padding: 0;
    margin: 0;
    background: linear-gradient(#9200a598,#ff00dd9c );

}
.contenedor {
    margin:20px auto;
    background-color: rgba(0, 0, 0, 0.349);
    padding: 20px;
    width: 400px;
    border-radius: 10px;
}

.contenedor h2{
    text-align: center;
    color: #ffffffbd;
    font-size: 40px;
    margin: 0 0 30px;
    font-family: monospace;
}
.contenedor .elemento label{
    font-family: monospace;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.contenedor .elemento input[type='submit']{
    text-align: center;
    background-color: rgba(112, 2, 139, 0.555);
    border: none;
    letter-spacing: 3px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    margin-bottom: 0;
    margin-top: 30px;
    border-radius: 10px;
    color: #ffffffbd;
    font-weight: bold;

}
.contenedor .elemento input{
    width: 100%;
    padding: 10px 0;
    background: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid #ffffff6e;
    margin-bottom: 30px;
}
.contenedor p{
    text-align: center;
    margin-top: 30px;
    text-decoration: none;
    color: #ffffffbd;
    font-family: monospace;
    font-size: 18px;
    font-weight: bold;
    border: none;
    padding: 0;
}
.contenedor a{
    text-decoration: none;
    font-family: monospace;
    font-size: 18px;
    color: rgba(53, 15, 78, 0.692);
    font-weight: bold;
}