table{
    width: 100%;
}


table, th , td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 4px 19px;
    /*border-spacing: 3px;*/
}
caption{
    color: royalblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 45px;
    line-height: 80px;
}
/*
th{
    text-align: left;
}
*/
td{
    text-align: center;
}
th{
    color: antiquewhite;
    background-color: slategray;
}
/*Renglones pares*/
tr:nth-child(even){
    background-color: gainsboro;
}
/* renglones impares */
tr:nth-child(odd){
    background-color: aquamarine;
}

